<div id="footer" >
<script type="text/javascript" src="/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $("pre").addClass("prettyprint");
        prettyPrint();
    })
</script>

</div>
